{% extends 'template.html.twig' %}

{% block body %}

	{% if errorMessage %}
		<div class="alert alert-danger">{{ errorMessage }}</div>
	{% endif %}

	{% if personne %}
		<div class="alert alert-success">
			{{ personne.firstname}}
			{{ personne.name}}
			a
			{{ personne.age}}
			ans
		</div>
	{% endif %}

{% endblock %}

{% block title %}
	{% if personne %}
		{{ personne.firstname }}
		{{ personne.name }}
	{% else %}
		Personne introuvable
	{% endif %}
{% endblock %}
